<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.tthymelef.org">
<head>
    <meta http-equiv="Control-Type" content="text/html ;charset=UTF-8"/>
    <title>This is spring boot application</title>
    <script src="http://cdn.jsdelivr.net/webjars/org.webjars/jquery/3.2.1/jquery.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.js}"/>

    <link href="http://http://cdn.jsdelivr.net/webjars/org.webjars/bootstrap/3.3.7-1/css/bootstrap.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.css}"
          rel="stylesheet" media="screen"
    />
    <link href="../static/css/spring-core.css"
          th:href="@{/css/spring-core.css}"
          rel="stylesheet" media="screen"
    />
</head>
<body>
<div class="container">
    <h1>Just a html body</h1>
</div>
</body>
</html>